*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  clip: rect(0 0 0 0); /* это свойство обрезает видимую область до нулевого значения */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  max-width: 1140px;
  display: flex;
  gap: 30px;
  align-items: flex-end;
  padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.result__video-container {
  position: relative;
}

.content__list {
  position: relative;
}

.result__video {
  position: relative;
  margin-top: 80px;
  min-width: 711px;
  height: 381px;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__textfield {
  background-color: transparent;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  min-width: 225px;
  padding: 5px 0;
  font-family: inherit;
  color: inherit;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  min-width: 212px;
}

.button {
  min-height: 34px;
  background-color: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding: 0;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration-line: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__submit-button {
  min-width: 194px;
  align-self: flex-end;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #FFF;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.search-form__label:not(.search-form__label-no-hover):hover {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:focus {
  outline: none;
}

input[type='checkbox']:checked + span {
  background-image: url(./checked.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
}

.content__list {
  display: grid;
  gap: 30px;
  max-height: 298px;
  overflow: auto;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 194px;
}

.content__video-card-title {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 130%; 
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card {
  padding: 2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.more-button {
  width: 100%;
}

.content__video-card-description-container:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
}

.content__card-link {
  text-decoration: none;
  margin: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-line: underline;
  color: #fff;
}

.content__list-item:has(:focus-visible) {
  outline: 1px solid #fff;
}

.content__list-item:focus {
  outline: none;
}